@model HRManager.Models.Employee
@{
    ViewData["Title"] = "CreateRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Employee</h2>
<form>
    <fieldset>Please fill in the following inforation:</fieldset>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Position</th>
                <th>Department</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Employment Status</th>
                <th>Shift</th>
                <th>Direct Supervisor</th>
                <th>Favorite Color</th>
                <th>Permission Level</th>
                <th>User Name</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
                <th><input /></th>
            </tr>
        </tbody>
    </table>
    <button type="submit">Create</button>
    <a asp-area="" asp-controller="Employee" asp-action="AllEmployees">Back to List</a>
</form>

