@{
    ViewData["Title"] = "Connect with Potential Associates";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Your Business Address<br />
    Somewhere on Planet Earth<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong> Support@example.com<br />
    <strong>Marketing:</strong> Marketing@example.com</>
</address>
