@{
    ViewData["Title"] = "Emissary of Empowerment";
}
        <div class="item active">
            <p>
                Use this program to Track Employees
            </p>
                      </div>