@{
    ViewData["Title"] = "Emissary of Empowerment";
}

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">How?</li>
        <li data-target="#myCarousel" data-slide-to="1">Where?</li>
        <li data-target="#myCarousel" data-slide-to="2">When?</li>
        <li data-target="#myCarousel" data-slide-to="3">Why?</li>
    </ol>
    <div class="carousel-inner" role="listbox">*@
        <div class="item active">
            <p>
                Use this program to Track Employees
            </p>
                    <a class="btn btn-default" href="https://www.github.com/emissaryofempowerment">
                       View Ryan Scott Armstrong's Github account
                    </a>
                <p>
                    <a class="btn btn-default" href="https://ryanarmstrongportfolio.wordpress.com">
                        Learn More about the works and skills of Ryan Scott Armstrong
                    </a>
                </p>
            </div>
        
  

<div class="row">
   
    <div class="col-md-3">
        <ul>
            <li>Emissary of Empowerment</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
   
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        
    </div>
</div>
