@model HRManager.Models.Employee
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form type="get" id="GetUserInfo">
    <dl class="form-group">
        <dt class="input-label">
            <label class="form-label h5" for="userLogin">Username</label>
        </dt>
        <dd>
            <input type="text" id="userLogin" class="form-control h5" />
        </dd>
    </dl>
    <dl class="form-group">
        <dt class="input-label">
            <label class="form-label h5" for=" userPassword">Password</label>
        </dt>
        <dd>
            <input type="text" id="userPassword" class="form-control h5" />
        </dd>
        <dd>
            <input type="submit" value="Submit" />
        </dd>
    </dl>

</form>
<script>
  
   var GetUserInfo = document.getElementById("GetUserInfo");
    var GetUserName = document.getElementById("userLogin");
    var GetUserPassword = document.getElementById("userPassword");
    var CheckUserName = function () {
        if (GetUserName.value === "VidaliaPearlArmstrong")
        {
            if (GetUserPassword.value === "computergirl")
            {
                alert("Welcome " + GetUserName.value);
            }
            else
            {
                alert("Invalid Password");
            }
        }
        else {
            alert("Invalid UserName");
        }
        alert(GetUserName.value + " Is your name");
    }

    GetUserInfo.addEventListener("submit", CheckUserName, false);

   
</script>

